*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.resource{
    display:flex;
    /* height: 80vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
 
}

.form{
    border:1px transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:30px;
}
